.footer{
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
    justify-content: space-between;
}

.collapseFooter{
    display: flex;
    flex-direction: row;
}

.img-red{
    margin: .5rem;
}

.textoFooter{
    font-size: small;
    display: flex;
    justify-content:center;
}

.redesSociales{
    display: flex;
    flex-direction: row;  
    margin: 1rem;
}

.img-red{
    width: 50px ;
    height: 50px ;
}

.segundaFooter{
    display: flex;
    flex-direction: column;
}


@media (max-width:420px){
    .img-red{
        width: 30px;
        height: 30px;
    }
    .primeraFooter{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    }